script.
  var preloader = {
    endLoading: () => {
      document.body.style.overflow = 'auto';

      var indexModel = document.getElementById('site-name');
      //- window.console.log(indexModel);
      if(indexModel == null) {
        document.getElementById('loading-box').classList.add("loaded")
      }
      //- document.getElementById('loading-box').classList.add("loaded")
    },
    initLoading: () => {
      document.body.style.overflow = '';
      document.getElementById('loading-box').classList.remove("loaded")
    }
  }
  window.addEventListener('load',preloader.endLoading())