
#friends.two-columns-layout
  .links
    .title
      a.wromhole(href='https://www.foreverblog.cn/go.html' target='_blank') Wromhole
      a.tag(onclick='getRandom()')
        i.fa-solid.fa-retweet
      .line
    #random-links
    .title.tags-title
      | TAGS 
      a.tag All 
      a.tag Tech
      a.tag Life
      .line
    #more-links
  .fcircle
    .title
      | Moments 
      a.tag(onclick='changeEgg()')  Update
      .line
    #cf-container &#x4E0E;&#x4E3B;&#x673A;&#x901A;&#x8BAF;&#x4E2D;&mldr;&mldr;
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/css/fcircle-beta.css')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/js/fcircle-beta.js')
  script(type='text/javascript' src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/flinks.json')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/js/friends.js')