
#friends.two-columns-layout
  .links
    .title
      a.wromhole(href=url_for(theme.pages.friends.wromhole) target='_blank')
        | !{theme.pages.friends.wromhole_title}
      a.tag(onclick='getRandom()')
        i.fa-solid.fa-retweet
      .line
    #random-links
    .title.tags-title
      | TAGS 
      a.tag All 
      a.tag Tech
      a.tag Life
      .line
    #more-links
  .fcircle
    .title
      | Moments 
      a.tag(onclick='changeEgg()')  Update
      .line
    #cf-container &#x4E0E;&#x4E3B;&#x673A;&#x901A;&#x8BAF;&#x4E2D;&mldr;&mldr;
  link(rel='stylesheet' href=url_for(theme.pages.friends.css))
  for i in theme.pages.friends.scripts
    script(type='text/javascript' src=url_for(i))