#profile.gallery-group-main
  .dashboard-weight.card-style.frosted-gross
    .info-top
      .avatar
        img(data-lazy-src='https://img-1253324855.cos.ap-chengdu.myqcloud.com/picgo/20210718003707.webp' alt='avatar')
      .author-info
        .author-info-en Hello&#xFF0C;I&apos;m kp
        .author-info-cn Computer Engineer
        .author-info-status
          i.fas.fa-code
          | Working
    .info-bot
      div
        a.author-btn(href='https://img-1253324855.cos.ap-chengdu.myqcloud.com/%E5%BC%A0%E5%8C%A1%E6%B5%A6%28%E4%B8%AD%E8%8B%B1%29.pdf')
          img(data-lazy-src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/icon_download.png' alt='avatar')
          .hidden-info Resume
        a.author-btn(href='https://img-1253324855.cos.ap-chengdu.myqcloud.com/Myweb_COS_2.0/img/wechatcode.jpg')
          img(data-lazy-src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/icon_wechat.png' alt='avatar')
          .hidden-info WeChat
        a.author-btn(href='/blog-cn/projects/')
          img(data-lazy-src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/icon_works.png' alt='avatar')
          .hidden-info Project
        a.author-btn(href='mailto:z.kp@outlook.com')
          img(data-lazy-src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/icon_mail.png' alt='avatar')
          .hidden-info Email
        .info-tips
    .info-social
      a.info-social-i(href='https://github.com/Uzizkp')
        i.fab.fa-github
      a.info-social-i(href='https://500px.com.cn/kpeace?rs=56ebd9df04f709a187951df0191876718')
        i.fab.fa-500px
      a.info-social-i(href='https://www.instagram.com/zkpjy/')
        i.fab.fa-instagram
      a.info-social-i(href='https://t.me/kpzhang')
        i.fab.fa-telegram-plane
      a.info-social-i
        i.fab.fa-youtube
      a.info-social-i(href='https://space.bilibili.com/109909977')
        i.fab.fa-bilibili
      .plant-3d
        img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Plant%201.png' alt='avatar')
  .dashboard-weight
    .weight-half.card-style.top.frosted-gross
      #github_container
    .weight-half.card-style.frosted-gross
      #gantt(style='width:100%;height:100%')
  .dashboard-weight.card-style.frosted-gross
    .skills-title SKILLS
    .plant2
      img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Plant2.png')
    #sun(style='position:relative;width:100%;height:100%')
  .dashboard-weight.card-style.frosted-gross
    div
      div
        .pattern-3d
          img.rocket(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/rocket.png')
          img.cloud(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Cloud.png')
        .declaration
          a.main-title FIND ME, HIRE ME
          br
          br
          a.description the services i can provide now 
          br
          br
          a.main-content WEB DEVELOPING &amp; DESIGNING
          br
          br
          a.description my dream is go to mars and to be a
          br
          br
          a.main-content FULL STACK ENGINEER
          br
          br
          a.description the subjects i really like are
          br
          br
          a.main-content ROBOTIC AR/MR LoT DESIGN
          br
          br
  .dashboard-weight.card-style.video.frosted-gross
    video.card-video-black(src='https://img-1253324855.cos.ap-chengdu.myqcloud.com/black.mp4' width='100%' height='100%' controls='controls' preload='auto')
    video.card-video-white(src='https://img-1253324855.cos.ap-chengdu.myqcloud.com/white.mp4' width='100%' height='100%' controls='controls' preload='auto')
  .dashboard-weight
    .weight-quarter.card-style.frosted-gross.top.left.radar-contianer
      #radar(style='position:relative;width:100%;height:100%')
      a.personility-title(href='https://www.16personalities.com/ch/intj-%E4%BA%BA%E6%A0%BC') INTJ
    .weight-quarter.card-style.frosted-gross.top.interests
      .interests-box
        .interests-line
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/cube%20a.png')
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/red%20book%202.png')
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Basketball%20Color.png')
        .interests-line
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/cam%201.png')
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/gamepad.png')
          .interest
            img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Weight%20Color.png')
    .weight-quarter.left.card-style.frosted-gross
      img.desktop(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/Desktop.png')
    .weight-quarter.card-style.frosted-gross
      #visitorMap.vistor-map
#record.gallery-group-main
  .dashboard-title
    a LIFE RECORDS 
  #fitness.dashboard-weight.card-style
    .fitness-title
      #fitness-circle
      .fitness-title-text
        .fitness-title-e
          a.red Fitness
          p 100 Times
        .fitness-title-e
          a.green Basketball
          p 20 Times       
        .fitness-title-e
          a.blue Others
          p 10 Times
      //- .fitness-year 2022       
    #fitness-line
  #goals.dashboard-weight.card-style
    .goal 
      a Life style part 
    .goal 
      a is still
    .goal 
      a building
    .goal
      a ... ... 
  #reminder.dashboard-weight.card-style
    .reminder
      #today.cell
        .logo
          i.fas.fa-calendar-day
        .num 10
        .title Today
      #plan.cell
        .logo
          i.fas.fa-calendar-alt
        .num 5
        .title Plan
      #all.cell
        .logo
          i.fas.fa-inbox
        .num 50
        .title All
      #flag.cell
        .logo
          i.fas.fa-star
        .num 9
        .title Flag
    a.link(href="https://habitica.com/") 2022 Habitica
    
script(src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/sun.js')
script(src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/radar.js')
script(src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/gantt.js')
script(src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/fitness.js')
script(src='https://blog-1253324855.cos.ap-shanghai.myqcloud.com/json/fitness_circle.js')
script(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/js/visitorMap.js')
script(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/js/chart/githubcalendar.js')

