link(href='/blog-cn/css/weibo.css' rel='stylesheet')
#weibo-head
  img.weibo-head-img(src='https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/img/3dIcon/objects/speaker%20a.png')
  a#weibo-head-title.weibo-head-title HOLY SHIT .
script(type='text/javascript').
  $("#weibo-head-title").on("click", function(e){
  if($(".tk-submit").css("display") == "none"){
  $(".tk-submit").show();
  }
  else{
  $(".tk-submit").hide();
  }
  e.stopPropagation();
  });
