#postCharts,
.category-lists,
.tag-cloud-list
    border:  solid 2px #a4b0be
    border-radius: 5px
    margin-bottom: 1rem

#postCharts
    .cat-chart,
    .post-chart,
    .tag-cahrt
        width: 100%;
        display: inline-block
    #categories-chart,
    #posts-chart,
    #tags-chart
        height: 450px
.category-lists
    .category-list
        display: flex
        flex-direction: row
        .category-list-item
            // border:  solid 2px #a4b0be
            // border-radius: 5px
            width: 100%
            // .category-list-child
            //     .category-list-item
            //         display: none

            

        
.tag-cloud-list
    padding: 10px 0
    a
        border-radius: 5px
        margin: 0 2px
        padding: 2px 10px

        &:hover
            background: #e1e3e6
        
        