#douban
    max-width: 1700px
    margin: auto
    .douban,
    .recent-douban-posts
        overflow:hidden;
        display: block;
        float: left;
        
    .douban
        border-radius: 10px;
        box-shadow: var(--card-box-shadow)
        float: right
        width: 55%;
        // margin-left: 2rem
        +maxWidth600()
            width: 100%;
            height: auto
            margin: 0 0 2rem 0
        &:hover
            box-shadow: var(--card-hover-box-shadow)

        iframe
            border: 0
            width:100%; 
            height: calc(90vh)
            background:  var(--card-bg)
            border-radius: 8px
            margin-top: -55px;

    .recent-douban-posts
        width: 40%
        overflow: visible
        +maxWidth600()
            width: 100%;
            height: auto
        iframe
            border-radius: 10px;
            box-shadow: var(--card-box-shadow)
            border: 0
            background-color: var(--card-bg); 
            width:100%; 
            height: 350px
            &:hover
                box-shadow: var(--card-hover-box-shadow)
        .article-sort
            margin-left: 0rem;
            padding-left: 0rem;
            border-left: none;
            background-color: var(--card-bg); 
            &-title
                position: relative
                font-family: 'Audiowide', cursive
                margin-left: 1rem
                padding: 1rem 0
                font-size: 1em
                color:var(--font-color)
                border: none

                &:before
                    display: none
                &:after
                    display: none
            &-item
                position: relative
                display: flex
                align-items: center
                margin: 0 0 1rem 0
                transition: all .2s ease-in-out
                padding: 1rem 
                box-shadow: var(--card-box-shadow)
                border-radius: 6px
                background-color:  var(--card-bg); 
                overflow: visible
                border-style: solid;
                border-width: 0.0001px;
                border-color: rgba(255, 227, 230, 0.06);
                &:before
                    display: none
                &:after
                    display: none

                &.no-article-cover
                    height: 80px

                    .article-sort-item-info
                        padding: 0


                &-time
                    color: $theme-meta-color
                    font-size: 95%

                    time
                        padding-left: .3rem
                        cursor: default

                &-title
                    color: var(--font-color)
                    font-size: 1em
                    transition: all .3s
                    -webkit-line-clamp: 2


                &-img
                    overflow: hidden
                    width: 80px
                    height: 80px

                img
                    width: 100%
                    height: 100%
                    border-radius: 5px
                    transition: all .6s
                    object-fit: cover

                    &:hover
                        transform: scale(1.1)

                &-info
                    flex: 1
                    padding: 0 .8rem



