img
    width: 100%
    height: 100%

.gallery-group-main
    .dashboard-title
        position: relative
        z-index :-1
        width: 100%
        opacity : 0.3
        font-size: 1.2rem
        margin-left: 10px
        font-family: 'Audiowide', italic
        font-weight: bold
        color:var(--font-color)
        padding: 0 .5rem
        letter-spacing:.5rem;
        white-space: 1em
        +maxWidth768()
            font-size: .8rem
    #goals
        padding: 2rem
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-family: 'Audiowide', cursive
        .habitica-block
            // background: rgba(142, 140, 140, 0.05)
            border-radius: 10px
            height: 48%
            width: 48%
        #habitica-block-1
            padding: 0
            // text-shadow: 0.1rem 0.1rem 0.1rem rgb(7 17 27 / 30%);
            .habitic-profile
                color: #ec6d51
                opacity: 1;
                font-size: 1em
                +maxWidth768()
                    font-size: .6em
            .habitic-class,
            .habitic-level
                font-size: .2em
                opacity: .6;
                +maxWidth768()
                    font-size: .1em
            // .habitic-stats
            //     color: #f6bfbc
            //     width : 100%
            //     height: 50%
        #habitica-block-2
            font-size: 0.2em
            // +maxWidth768()
            //         font-size: .1rem
        #habitica-block-4
            
            display: flex
            // background: rgba(142, 140, 140, 0.05)
            padding: 0 .5rem
            border-radius: 10px
            border: 1px solid rgba(142, 140, 140, 0.05)
            flex-direction: column
            flex-wrap: wrap
            justify-content: space-between;
            overflow: hidden
            // align-items: center;
            .today-todo-title-1
                font-size: 0.8em
                color: #82ae46
                +maxWidth768()
                        font-size: 0.2em
            a.today-todo-num
                 font-size: 1.2em
                 text-align: center
                 +maxWidth768()
                    font-size: 0.5em
                    
            .today-todo-title-2
                display: block 
                p
                    display: inline-block
                    float: right 
                    font-size: 0.5em
                    +maxWidth768()
                        font-size: 0.2em
                        display: none
                .today-todo-kill
                    margin-left: 10px
                    color: rgb(244, 101, 101)
                
                
                
        // .goal
        //     background: rgba(142, 140, 140, 0.05)
        //     height: 22%
        //     border-radius: 6px
        //     padding: 1rem 2rem
        //     a
        //         color: var(--font-color)
        //         opacity : .2
        //         font-family: 'Audiowide', cursive
        //         &:hover
        //             text-shadow: 1px 1px white, -1px -1px #444
                
            
            
    #fitness
        padding: 2rem
        display: flex
        flex-direction: column;
        justify-content: space-between;
        .fitness-title
            display: flex
            flex-direction: row;
            flex-wrap: wrap;
            height: 20%
            overflow :hidden
            #fitness-circle
                height: 100%
                width: 10%
                // margin-right: 10%
                +maxWidth768()
                    height: 100%
                    width: 18%
                    margin-right: 2%
            .fitness-title-text 
                width : 90%
                display: flex
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                +maxWidth768()
                    width: 80%
                .fitness-title-e
                    height: 100%
                    margin-left: 1rem
                    overflow: hidden
                    font-family: 'Audiowide', cursive
                    
                        
                    a
                        font-size: 1em
                    p
                        padding: 0
                        margin: 0
                        font-size: .5em
                        opacity : .5
                .red
                    color: rgb(230, 140, 140)
                .green
                    color: rgb(147, 242, 147)
                .blue
                    color: rgb(122, 228, 255)
        #fitness-line
            width: 100%
            height: 75%
            
    #reminder
        position: relative
    .link
        position: absolute
        right: 2rem
        font-size: 1em
        opacity : 0.2
        font-family: 'Audiowide', italic
        transform: translateY(-1.5rem)
    .reminder
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%
        height: 98%
        padding: 1rem .5rem
        +maxWidth768()
            height: 16rem
        .cell
            background: rgba(142, 140, 140, 0.05)
            border-radius: 10px
            height: 46%
            width: 48%
            position: relative
            .logo
                position: absolute
                top: 1rem
                left: 1rem
                font-size: 1.5em
                opacity : 0.8
            .num
                position: absolute
                top: 1rem
                right : 1rem
                font-size: 1.5em
                opacity : 0.8
            .title
                position: absolute
                bottom: 1rem
                left: 1rem
                font-family: 'Audiowide', italic
                font-size: 1em
                opacity : 0.3
        #today
            .logo
                color: rgb(0, 166, 255)
        #plan
            .logo
                color: rgba(230, 86, 54, 0.931)
        #all
            .logo
                color: rgb(172, 175, 176)
        #flay
            .logo
                color: rgb(215, 142, 70)
                
    .l-title
        font-family: 'Audiowide'
        display: block
    img
        position: relative
        margin: 0 !important
        max-width: none
        width: calc(100% + 20px)
        height: 100%
        transition: opacity .35s, transform .35s
        object-fit: cover
    .video
        overflow: hidden
        .card-video-white
            display: block
            height: 101%
            width: 101%
            object-fit: fill
        .card-video-black
            display: none
            height: 101%
            width: 101%
            object-fit: fill
    .info-top
        // float: left
        display: flex
        width : 100%
        margin: 2rem 0rem 1.5rem 0rem
        padding: 0 1rem
        height: auto
        .avatar
            float: left
            margin-right: 5%
            height: 100px
            width: 100px
            border: solid 8px rgba(189,195,199, .1)
            border-radius: 100px 
            overflow: hidden
            box-shadow:  0 3px 8px 6px rgba(189,195,199, .3)
            +minWidth2000()
                height: 120px
                width: 120px 
            img
                height: 100px
                border-radius: 200px 
                transform: translate3d(-10px, 0px, 0)
                +minWidth2000()
                    height: 120px
                    opacity 
        .author-info
            border-left: solid 3px rgba(200,200,200,  0.3)
            height: auto
            padding:0 0 0 0.7rem
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden
            white-space: nowrap;
            text-overflow: ellipsis;
            // width: 30%
            float: left
            color: var(--font-color)
            // font-family: 'Audiowide'
            opacity : .6
            +maxWidth768()
                height: 100px
            &-en
                font-weight: 500
                font-size: 1.8em
                overflow: hidden
                white-space: nowrap;
                text-overflow: ellipsis;
                text-shadow: .2rem .2rem .2rem rgba(7, 17, 27, .3)
                +maxWidth768()
                    font-size: 1.2em
                +minWidth2000()
                    font-size: 2rem  
            &-cn
                margin: -0.5rem  0 0 0
                font-size: 0.8rem
                text-shadow: .2rem .2rem .2rem rgba(7, 17, 27, .3)
                color: var(--font-color)
                opacity: .6
                overflow: hidden
                white-space: nowrap;
                text-overflow: ellipsis;
                // text-shadow: .2rem .2rem .2rem #ededef
                +maxWidth768()
                    margin: 0
                    font-size: .8em
            &-status
                color: var(--font-color)
                opacity: .6
                font-size: .8em
                width: 100%
                +maxWidth768()
                    font-size: .6em
                i   
                    // font-size: .6em
                    margin-right: 1em
                    padding-bottom: .4em
                    color: rgba(255,127,80, .6)

    .info-bot
        float: left
        width: 100%
        height: 100px
        .author-btn
            float:left
            width: 25%
            position: relative
            // background-color: #9ec8da
            color: var(--btn-color)
            text-align: center
  
            &:hover
                transform: translate(0, -20px);
                .hidden-info
                    display: block

            img
                position: relative;
                width: 80%;

            .hidden-info
                display: none
                top: -1.5rem
                font-family: 'Audiowide', cursive
                font-size: .5rem
                position:relative
            
            .info-box
                display: none
                overflow: hidden
            /* icon_basket */

    .info-social
        // float: left
        position: absolute
        bottom: 0
        border-radius: 8px
        padding: 0 1rem
        margin: 3% 0 1.5rem 0
        width: 100%
        align-content: center
        // background: rgba(200,200,200,.8)
        // box-shadow:  0 3px 8px 6px rgba(7, 17, 27, .3)

        &-i
            width: 20%
            margin: 0 .3rem 1rem .3rem
            color:var(--font-color)
            opacity : .2
            svg
                width : 15px
                transform: translateY(12px)
            &:hover
                opacity : 1
    .skills-title
        position: absolute
        bottom: 1rem
        right: 20%
        font-family: 'Audiowide', cursive
        font-size: 1rem
        font-weight: bold
        color:var(--font-color)
        opacity : .15
    .personility-title
        position: absolute
        bottom: 10px
        right: 5%
        border-radius: 8px
        font-size: .6rem
        font-family: 'Audiowide', cursive
        font-weight: bold
        color:var(--font-color)
        opacity : .15
    .plant-3d
        width: 25%
        // height: 200px
        position: absolute
        bottom: -3rem
        right: 1rem
        -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
        filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
    .plant2
        width : 20%
        position : absolute
        bottom: -1.5rem
        z-index :99
        margin-right: -0.6rem
        right: 0rem
        -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
        filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
        +maxWidth768()
           margin-right: .5rem
    .pattern-3d
        float : left
        position : relative
        height : 100%
        width : 40%
        .rocket
            position : absolute
            width : 100%
            top : 0
            left: 1rem
            -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
            filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
        .cloud
            top: 4.5rem
            left: 0
            -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
            filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
            +minWidth2000()
                top: 6.5rem 
    .desktop
        width : 100%
        // margin-left: 1rem
        -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
        filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
    .vistor-map
        width: 7.5rem
        position: relative
        margin: auto

        +minWidth2000()
            width: 9rem

        +maxWidth768()
            width: auto
    .interests-box
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        +maxWidth768()
            padding: .5rem
        .interest
            width: 30%;
            height: 50%
            overflow: visible
            padding: 0.8rem
            img
                transform: translate(-10px,5px)
                // overflow: visible
                object-fit: contain
                -webkit-filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))
                filter: drop-shadow(3px 18px 6px rgba(0,0,0,.3))

                // +minWidth2000()
                //     padding: 0 0.5rem
    .declaration
        margin: 8% 1.2rem 0 0
        font-family: 'Audiowide', cursive
        text-align: right
        line-height: 13.5px
        +minWidth2000()
            line-height: 17px
        a.main-content
            font-size: .9rem 
            text-shadow: .2rem .2rem .2rem rgba(7, 17, 27, .1)
            color: #bdc3c7
            +minWidth2000()
                font-size: 1rem  
        a.description
            font-size: .7rem 
            color:#d2d6d9
            +minWidth2000()
                font-size: 1rem 
        a.main-title
            font-size: 1.2rem 
            text-shadow: .2rem .2rem .2rem rgba(7, 17, 27, .1)
            color: #7f8c8d
            +minWidth2000()
                font-size: 1.6rem  