#blog_name
    margin-left: 10px;
    #site-logo
        display: inline-block
        float: left;
        width: 25px;
        height: 20px;
        opacity : .8
        transform: translate3d(-10px, 0, 0)
        -webkit-filter: brightness(100) invert(1)
        filter: brightness(100) invert(1)
        // /* for demonstration purposes; originals not entirely black */
        // contrast(1000%)
        // /* black to white */
        // invert(100%)
        // /* white to off-white */
        // sepia(100%)
        // /* off-white to yellow */
        // saturate(10000%)
        // /* do whatever you want with yellow */
        // hue-rotate(90deg);
        // /* top: .2rem; */
        
    #head-page-title
        float: left;
        display: inline-block
        align-items: center;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        letter-spacing: 0.175em;
        line-height: 1
        font-size: .6rem;
        font-family: 'Audiowide', cursive
        // margin-top: 3px
        #page-name 
            opacity : 0.8
        #site-slogan 
            opacity : 0.3