

#weibo-head
    .weibo-head-img
        height: auto
        display: inline-block
        width : .8rem
        transform: translate(-5px, 18px)
    .weibo-head-title
        display: inline-block
        font-size: 2em
        color: var(--font-color)
   
// #weibo-wrap
//      margin-top: -2.5rem
//     #twikoo
//         .tk-comments
//             .tk-submit
//                 display: none
//                 .tk-row
//                     .tk-avatar
//                         display: none
//         .tk-comments-container
//             padding-left: 1rem
//             border-left: solid 2px rgba(rgb(189,195,199), .2)
//             .tk-comments-count
//                 opacity : 0.4
//             .tk-comment
//                 border-left: none
//                 .tk-avatar
//                     display: none
//                 .tk-main
//                     position: relative
//                     &:before
//                         position: absolute
//                         content: "•"
//                         color: rgba(rgb(189,195,199), .8)
//                         font-size: 3rem
//                         left: -2rem
//                         top: .5rem
//                         line-height: 0
//                     &:hover
//                         &:before
//                             -webkit-text-stroke: 4px var(--font-color); /* width and color */
//                             text-stroke: 4px var(--font-color)
//                         .tk-row
//                             opacity : 1

//                     .tk-row
//                         .tk-nick
//                             display: none
//                         .tk-tag-green
//                             display: none
//                         .tk-tag
//                             border: none
//                             background: none
                            
//                     .tk-extras
//                         display: none
//                     .tk-submit
//                         display: block
//                         .tk-row
//                             .tk-avatar
//                                 display: block
