#weibo-head
    .weibo-head-img
        height: auto
        display: inline-block
        width : 1rem
        margin-right: 1rem 
    .weibo-head-title
        display: inline-block
        font-family: 'Audiowide', italic
        font-size: 2em
        color: var(--font-color)
