

#weibo-head
    .weibo-head-img
        height: auto
        display: inline-block
        width : .8rem
        transform: translate(-5px, 18px)
    .weibo-head-title
        display: inline-block
        font-size: 2em
        color: var(--font-color)
