#carousel
    each content,page in theme.carousel_contents
          .carousel-box.fade
            | !{content.bg_img}
            .site-info 
                 h1.site-title 
                    | !{content.title}
                    a(onclick="plusSlides(1)") Next
                 .site-subtitle
                    | !{content.subtitle}
    #carousel-indictors
        span.carousel-dot(onclick="currentSlide(1)")
        span.carousel-dot(onclick="currentSlide(2)")
        span.carousel-dot(onclick="currentSlide(3)")
        span.carousel-dot(onclick="currentSlide(4)")
  

script(src="/blog-cn/js/carousel.js") 