
.layout
  display: flex
  margin: 0 auto
  padding: 4rem 1rem
  max-width: 1500px
  min-height: calc(100vh)
  height: auto

  +maxWidth900()
    flex-direction: column

  +maxWidth768()
    padding: 1rem 5px

  // +minWidth2000()
  //   max-width: 2000px

  & > div:first-child:not(.recent-posts)
    align-self: flex-start
    padding: 50px 40px
    border-radius: 8px
    background: var(--card-bg)
    box-shadow: var(--card-box-shadow)
    border-style: solid;
    border-width: 0.0001px;
    border-color: rgba(255, 227, 230, 0.06);

    &:hover
      box-shadow: var(--card-hover-box-shadow)

    +maxWidth768()
      padding: 1.8rem .7rem !important

  & > div:first-child
    width: 75%
    transition: all .3s

    +maxWidth900()
      width: 100% !important

    if hexo-config('aside.position') == 'left'
      +minWidth900()
        order: 2

  // 隱藏aside
  &.hide-aside
    // max-width: 1800px
    // padding: 5rem 1rem

    +minWidth2000()
      max-width: 1800px

    +maxWidth600()
      padding: 1rem 10px

    & > div
      width: 100% !important

.aplayer
  background: var(--card-bg)
  .aplayer-body
    background: var(--card-bg)
    .aplayer-miniswitcher
        background: var(--card-bg)
// display: none 