
#things.container
  width: 100%;
  margin: 0 auto;
  ol,
  ul
    list-style: none;
    margin: 0;
    padding: 0;
  .wrapper
    padding: 0;
    .card
      overflow: hidden;
      border-radius: 8px;
      width: 100%;
      background-color: var(--card-bg);
      -webkit-backdrop-filter: blur(5px);    
      backdrop-filter: blur(5px); 
      height: 14rem;
      padding: 1rem
      box-shadow: var(--card-box-shadow)
      border-style: solid;
      border-width: 0.0001px;
      border-color: rgba(255, 227, 230, 0.06);
      &:hover
        box-shadow: var(--card-hover-box-shadow)
      .card__picture
        display: inline-block;
        border: .2px rgba(0, 0, 0, .2)
        height: 100%;
        border-radius: 6px;
        width: 50%;
        object-fit: cover;
        margin-right: 1rem

      .card-infos
        display: inline-block;
        position: absolute
        top: 0
        width: 40%;
        height: 100%;
        .dropped
          text-decoration-line: line-through
        .card__title
          font-size: 1rem;
          font-weight: 60;
        .card__text
          font-size: .6rem;
          font-weight: 300;
          // display: inline;
        .state
          position: absolute
          bottom: .5rem
          right: 0
          opacity : .8
          color: #7f8c8d
          opacity : .4
          font-size: .6rem;
          display: inline
          .test-post
              margin-left: 1rem
              cursor: not-allowed
          &.got
            i
              color: #f39c12
            .test-post
              cursor: pointer
              opacity: 1
    .sortable__nav
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      font-size: .7rem;
      .nav__link
        padding: 0 8px 0 6px;
        margin: 0 20px;
        cursor: pointer
        // font-weight: 300;
        display: inline-block;
      .nav__link.is-active
        // background: rgba(150, 150, 150, .2)
        border-bottom: 2px solid rgba(150, 150, 150, .6);




  